<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Teacher Dashboard</title>
  <link rel="stylesheet" href="/css/user.css">
  <link rel="stylesheet" href="/css/dashboard.css">
  

</head>

<body>
  <%- include('partials/userSidebar') %>

  <!-- Main Content -->
  <div class="content">

    <!-- Header -->
    <%- include('partials/userHeader', { user: user }) %>



  <div class="topbar">
    <div style="text-align: right;">
      <p id="clock" style="font-size: 20px;"></p>
    </div>
  </div>

  <div class="counters">
    <div class="counter-box">
      <h3><%= totalLectures %></h3>
      <p>Total Lectures</p>
    </div>
    <div class="counter-box">
      <h3><%= totalDone %></h3>
      <p>Total Done</p>
    </div>
    <div class="counter-box">
      <h3><%= totalLeft %></h3>
      <p>Total Left</p>
    </div>
  </div>
  </div>

</body>
</html>
